main {
  margin: 15px;
}

form {
  margin-top: 15px;
}

h2, h3 {
  margin-top: 10px;
}

.form, #employees {
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 15px;
}

#employees:empty {
  display: none;
}

#employees {
  padding: 15px;
  padding-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#employees .form {
  margin-bottom: 15px;
}

.business .form {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.employee-header div {
  display: inline-block;
}

.employee-header .controls {
  float: right;
}

.controls {
  margin: 15px;
}

//to be removed later
#printout {
  margin: 30px;
  font-family: courier;
}

#printout table {
  border: 1px solid black;
}

#printout table td {
  border: 1px solid black;
  padding: 5px;
}
